In [1]:
# Importamos las librerías que vamos a usar en la notebook

import numpy as np
import pandas as pd
import geopy.distance as distance

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import osmnx as ox
import networkx as nx
ox.config(log_console=True)

import requests
import matplotlib.cm as cm
import matplotlib.colors as colors

In [14]:
delitos2016 = pd.read_csv('../Data/delitos_2016.csv')
delitos2017 = pd.read_csv('../Data/delitos_2017.csv')
delitos2018 = pd.read_csv('../Data/delitos_2018.csv')
delitos2019 = pd.read_csv('../Data/delitos_2019.csv')

In [15]:
delitos_C = pd.read_csv('delito_C.csv',sep=';')

## <font color='PURPLE'>Construcción del dataset</font>

Agregamos una nueva columna: día de la semana

In [16]:
# Generamos una serie que indica el día de la semana para cada fecha
# Los valores van de 0 (lunes) a 6 (domingo)
date_series = pd.date_range('2016-01-01', '2019-12-31', freq='D').to_series()
date_df = pd.DataFrame({'dia_de_la_semana':date_series.dt.dayofweek})
date_df.reset_index(inplace=True)
date_df.rename(columns={'index':'fecha'}, inplace=True)
date_df

          fecha  dia_de_la_semana
0    2016-01-01                 4
1    2016-01-02                 5
2    2016-01-03                 6
3    2016-01-04                 0
4    2016-01-05                 1
...         ...               ...
1456 2019-12-27                 4
1457 2019-12-28                 5
1458 2019-12-29                 6
1459 2019-12-30                 0
1460 2019-12-31                 1

[1461 rows x 2 columns]

Agregamos una nueva columna: día de la semana

Agregamos una nueva columna: día de la semana

In [17]:
d = pd.date_range(start='2016-01-01', end='2019-12-31', freq='MS').to_series   
m_df = pd.DataFrame({'mes':date_series.dt.month})
m_df.reset_index(inplace=True)
m_df.rename(columns={'index':'fecha'}, inplace=True)
m_df

          fecha  mes
0    2016-01-01    1
1    2016-01-02    1
2    2016-01-03    1
3    2016-01-04    1
4    2016-01-05    1
...         ...  ...
1456 2019-12-27   12
1457 2019-12-28   12
1458 2019-12-29   12
1459 2019-12-30   12
1460 2019-12-31   12

[1461 rows x 2 columns]

In [18]:
# Corroboro el formato de las columnas
print(date_df.dtypes,'\n')
print(delitos_C.dtypes)

fecha               datetime64[ns]
dia_de_la_semana             int64
dtype: object

,fecha,franja_horaria,tipo_delito,comuna,barrio,lat,long,Año    object
dtype: object

In [19]:
# Hacemos que la columna "fecha" sea del mismo tipo para ambos dfs
date_df['fecha'] = date_df.fecha.astype(str)
date_df['fecha'] = date_df.fecha.astype(object)

In [30]:
!! CORREGIR 

# Generamos un nuevo df que incluya estos dos dfs con los que estuvimos trabajando
delitos_D = pd.merge(delitos_C, date_df)
delitos_D.sample(3)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [29]:
# Resumen del nuevo df
delitos_D.info()

NameError: name 'delitos_D' is not defined